<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="/styles.css">
  <title>Money Ca$hboard</title>
</head>
<body>
  <nav>
    <ul>
      <li><a href="/transactions">Transactions</a></li> 
      <li><a href="/tags">Categories</a></li>
      <li><a href="/merchants">Merchants</a></li>
    </ul>
  </nav>
<div class = "content">
  <%= yield %>
</div>  
</body>
</html>

