html, body {
 margin: 0px;
 padding: 0px;
 background: url('wall_street.jpg') no-repeat center fixed;
 background-size: cover;
 color: white;
}

body a{
    color: white;
    text-decoration: none;
}

body a:hover{
    color: red;
}

.icon img {
    background-color: rgba(255, 255, 255, 0.80)
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.content {
  margin-left: 13%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 12%;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
}

li a {
    display: block;
    color: #000;
    padding: 8px 0 8px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #6AAFE6;
    color: white;
}

.add_button{
  position: relative;
  left: 50px;
  bottom: 38px;
}