<h2>Categories</h2>

<img src="https://d30y9cdsu7xlg0.cloudfront.net/png/89067-200.png" width="40" height="40">

<a href="/tags/new"><img src= https://d30y9cdsu7xlg0.cloudfront.net/png/40980-200.png width="20" height="20"/></a><br><br>

<% @tags.each do |tag| %>
  <a href= "/tags/<%= tag.id %>" > <%= tag.name %> </a> <br>
<% end %>
<br>